@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global Reset */
body {
  background-color: #09090b; /* Force Dark Mode */
  color: white;
  margin: 0;
  font-family: 'Inter', sans-serif;
}

/* Custom Grid Background Class */
.bg-grid-pattern {
  background-size: 40px 40px;
}